// Application color pallette //
$primary-green: #41de5b;
$dark-grey: #272727;
$black-drop: #0f0f0f;
$black-drop-light: #211f25;
$white: #ffffff;
$tint-blue: #d6e8f5;
$tint-purple: #dfd7f5;
$tint-green: #cdf9d4;

// SOCIAL BRAND COLORD
$facebook-color: hsla(222, 47%, 40%, 1); // #365397
$behance-color: hsl(220, 100%, 50%); // #0057FF
$twitter-color: hsla(198, 100%, 47%, 1); // #00a9f1
$linkedin-color: hsla(203, 100%, 35%, 1); // #006db3
$apple-color: hsla(0, 0%, 45%, 1); // #737373
$google-color: hsla(217, 89%, 61%, 1); // #4285f4
$youtube-color: hsla(0, 100%, 60%, 1); // #ff3333
$pinterest-color: hsla(0, 78%, 45%, 1); // #ce1a19
$dribbble-color: hsla(338, 82%, 60%, 1); // #ed4584
$instagram-color: hsla(208, 46%, 41%, 1); // #396d9
$github-color: hsla(0, 0%, 18%, 1); // #2f2f2f
$whatsapp-color: hsl(142, 70%, 49%);
